.wc-block-price-filter__range-input-progress,
.wc-block-components-price-slider__range-input-progress {
  --range-color: theme("colors.blue-darker") !important;
}

.onsale,
.wc-block-grid__product-onsale {
  position: absolute !important;
  left: 15px !important;
  top: 10px !important;
  margin: 0 !important;
  background: var(--blue-darker) !important;
  border-radius: 0px !important;
  border: none !important;
  color: white !important;
  padding: 2px 24px !important;
  font-size: 16px !important;
  font-family: var(--font-secondary);
  font-weight: 400 !important;
}

.storefront-breadcrumb {
  margin: 15px 0;
}

.breadcrumb-separator {
  margin: 0 6px;
}

.woocommerce-breadcrumb a {
  text-decoration: none !important;
}

.woocommerce-breadcrumb a::before {
  display: none !important;
  content: "" !important;
}

.wc-block-formatted-money-amount,
.wc-block-components-formatted-money-amount {
  background: white !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  font-family: theme("fontFamily.secondary") !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: theme("fontSize.lg") !important;
}

.wc-block-price-filter__amount--max,
.wc-block-components-price-slider__amount--max {
  text-align: right !important;
}

.orderby {
  background: theme("colors.blue-lighter");
  font-family: theme("fontFamily.secondary");
  background-position: -80px center;
  width: auto;
}

.woocommerce-ordering::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.add_to_cart_button,
.ajax_add_to_cart {
  background: theme("colors.blue-lighter") !important;
  color: theme("colors.blue-darker") !important;
}

.woocommerce-pagination .page-numbers {
  background-color: theme("colors.blue-lighter");
  color: theme("colors.blue-darker") !important;
}

.woocommerce-pagination .page-numbers.current {
  background-color: theme("colors.blue-darker") !important;
  color: white !important;
}
