navbar.container {
  padding-top: 0;
  padding-bottom: 0;
}

.menu {
  padding: 0;
  margin: 0;
}
.menu li {
  display: inline-block;
}
.menu li a {
  font-family: var(--font-secondary);
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
.site-header {
  margin-bottom: 0 !important;
}

.astak-cart-count {
  color: white !important;
}

.page,
.hfeed-site,
.site {
  overflow-x: visible !important;
}

#astak-navbar-search-wrapper {
  cursor: pointer;
}
